<!DOCTYPE html>
<html>
<head>
	<title>Albums</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/album.css' %}">
</head>
<body>
	<div class="container">
		<nav>
			<a href="/dashboard"><h1>Photobomb</h1></a>
		</nav>
			<div class="sidebar2">
				<a href="/dashboard">Back</a>
				{% if album %}
				<form action="/add_photo/{{album.id}}" method="post" enctype="multipart/form-data">
				{% endif %}
					{% csrf_token %}
					<div class="input_file">
						<input type="file" name="photo" value="Upload">	
					</div>
					<div class="input">
						<input  type="submit" name="submit" value="Upload">
					</div>
				</form>
			</div>
		<div class="main">
			{% for photo in photos %}					
				<a href="/details/{{photo.id}}"><img src="{{photo.image.url_200x200}}" class=image></a>
			{% endfor %}
		</div>
	</div>
</body>
</html>