<!DOCTYPE html>
<html>
<head>
	<title>Albums</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/album.css' %}">
</head>
<body>
	<div class="container">
		<nav>
			<a href="/dashboard"><h1>Photobomb</h1></a>
			<form action="/add_photo" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="input_file">
					<input type="file" name="photo" value="Upload">	
				</div>
				<div class="input">
					<input  type="submit" name="submit" value="Upload">
				</div>
			</form>
		</nav>
		<div class="sidebar">
			<img src="/static/photography/images/back_button.png" class="back_button">
		</div>
		<div class="body">
			{% for photo in photos %}
			<a href="/details/{{photo.id}}"><img src="{{photo.image.url}}" class=image></a>
			{% endfor %}
		</div>
	</div>
</body>
</html>