<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/dashboard.css' %}">
</head>
<body>
	<div class="container">
		<nav>
			<h1>Photobomb</h1>
			<div class="link">
				<a href="createAlbum" class="create">Create</a>
			</div>
			<form action="/add_photo" method="post">
				{% csrf_token %}
				<div class="input">
					<input type="file" name="photo" value="Upload">	
				</div>
				<div class="input">
					<input  type="submit" name="submit" value="Upload">
				</div>
			</form>
		</nav>
		<div class="sidebar">
			
		</div>
		<div class="albums">
			<div class="album">
				{% for album in albums %}
					<a href="/album_page/{{album.id}}"><img src="static/photography/images/blue_folder.ico" class="folder_img"></a>
					<a href="/album_page/{{album.id}}"><h1>{{album.name}}</h1></a>
					<p>{{album.created_at}}</p>
					<p>{{album.user.username}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>