<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/dashboard.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-title">
				<h1>Photobomb</h1>
			</div>
			<div class="header-user">
				{% if user %}
				<h3>{{user.username}}</h3>
				{% endif %}
			</div>
		</div>
		<div class="albums">
			<div class="sidebar2">
				<div class="link">
					<a href="createAlbum" class="create-album">New +</a>
					<div class="form">
						<form action="createAlbum" method="POST" class="album-create">
							{% csrf_token %}
							<label>Please enter an album name</label>
							<input type="text" name="answer">
							<input type="submit" name="submit">
						</form>
					</div>
				</div>
				<div class="options">
					{% if user %}
					<ul class="parent">
						<li>Settings
							<ul class="child">
								<li><a href="/logout/{{user.id}}">Logout</a></li>
							</ul>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
				{% for album in albums %}
				<div class="modules">
					<a href="/album_page/{{album.id}}"><img src="static/photography/images/blue_folder.ico" class="folder_img"></a>
					<a href="/album_page/{{album.id}}"><h3 class=album_title>{{album.name}}</h3></a>
					<p class="album_date">{{album.created_at}}</p>
					<a href="/delete_album/{{album.id}}"><button class="album_button">Delete</button></a>
				</div>					
				{% endfor %}
		</div>		
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
		$('ul.parent > li').hover(function(){
			$(this).find('ul.child').show(500);
		}, function(){
			$('ul.parent > li').click(function(){
				$('ul.child').hide(500)
			})
		});
		$('.form').hide()
		$('.create-album').click(function(e){
			e.preventDefault()
			 $('.form').show();
			 $('.album-create').onsubmit().hide()
		})

	});
</script>
</html>